<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>I love my mum</string>
			<string>mum love i my</string>
		</array>
		<array>
			<string>I want buy new car</string>
			<string>want I buy car new</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>360</integer>
	<key>pointsPerTile</key>
	<integer>30</integer>
</dict>
</plist>
